
<h3>Beklenmedik bir hata meydana geldi.</h3>

<h5>Hatanın düzeltilmesiyle alakalı destek almak için hocam@hoca.com mail adresine mail atabilirsiniz.</h5>
<hr />
<h3>Hatanın Detayları:</h3>

<div class="alert alert-danger">
    <h5>Hata Path:</h5>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class="alert alert-danger">
    <h5>Hata Mesajı:</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>
<div class="alert alert-danger">
    <h5>Hata StackTrace:</h5>
    <hr />
    <p>@ViewBag.StackTrace</p>
</div>